h1 {
  color: #0d2161;
  font-size: 2.5em;
  margin: 20px 0;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  color: #0d2161;
  font-size: 1.8em;
  margin: 15px 0;
  text-align: center;
  font-weight: 500;
}

div {
  color: #1e3a8a;
  font-size: 1.1em;
  line-height: 1.8;
}